*.obj
*.pch
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.opendb
*.user
*.log
*.tlog
*.dll

_out/
_tmp/
external/
Library/
Temp/
Build/
Hidden/
Hidden.meta
_Hidden/
_Hidden.meta
obj/
libs/

AfterEffectsPluginForUnity/*.csproj
AfterEffectsPluginForUnity/*.sln

.build/
release/
debug/
dependencies/
*.dblite
excons.cache
